<h1>This is the first entry in my journey to fall in love with Angular</h1>
<p class="time">Friday | December 15, 2017</p>
<p>It's been almost two weeks since I met my new challenge - AngularJS.</p>
<p>I feel like I just got comfortable with vanilla JavaScript, and using qQuery, and here we go again...the world is turned upside down with Angular. Overwhelming at first as usual, I absolutely see the value of using this framework and can't wait to get a grip on it.</p>
<h3>Welcome to my journey!</h3>

<p class="next">Let's see if I can figure out how to add a form so I can make another entry. If I was successfull, you will see some entries when clicked on Diary Entries or My Log In, which I am planning to make functional one day.</p>
